<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpHook" version="5.3.9" targetFramework="net471" />
  <package id="SharpHook.Reactive" version="5.3.9" targetFramework="net471" />
  <package id="System.Reactive" version="6.0.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net471" />
</packages>